.header-container {
  text-align: center;
  margin-bottom: 20px;

  #header-title {
    font-size: 44px;
    font-family: cursive;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  input {
    width: 250px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: hidden;
    border-radius: 7px;
    background-color: rgb(253, 255, 113);
  }

  input:focus {
    outline: none;
  }
}